<h1>Choose weekday</h1>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Monday',admin_orders_path(id: 'Monday') %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Tuesday',admin_orders_path(id: 'Tuesday') %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Wednesday',admin_orders_path(id: 'Wednesday') %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Thursday',admin_orders_path(id: 'Thursday') %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Friday',admin_orders_path(id: 'Friday') %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Saturday',admin_orders_path(id: 'Saturday') %>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    <%= link_to 'Sunday',admin_orders_path(id: 'Sunday') %>
  </li>
</ul>